<table>
    <tr>
        <td>
            <p>Diego Tristan Hernandez Jimenez</p>
            <p>Ser project Manager, y tener una buena vida</p>
        </td>
        <td>
            <img src="https://firebasestorage.googleapis.com/v0/b/fakestoreapi-fd819.appspot.com/o/1657246128267.png?alt=media&token=d241ff22-834d-44c6-bcf6-f089b18a7597" width="100" height="100">
        </td>
        <td>
            <ul>
                <li>diegothj57#gmail.com</li>
                <li>2711275314</li>
                <li>Cordoba, Ver.</li>
                <li>#tristanjmz</li>
            </ul>
        </td>
    </tr>
</table>